@model Entities.clsPlanta

@{
    ViewData["Title"] = "View";
}

<h1>View</h1>

<h4>clsPlanta</h4>
<hr />
<div class="row">


<div>
   
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
